name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

concurrency:
  group: mailosaur-swift
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build:
    runs-on: ${{ vars.MACOS }}
    timeout-minutes: 10

    env:
      MAILOSAUR_BASE_URL: https://mailosaur.com/
      MAILOSAUR_SMTP_HOST: mailosaur.net
      MAILOSAUR_SMTP_PORT: 2525
      MAILOSAUR_API_KEY: ${{ secrets.MAILOSAUR_API_KEY }}
      MAILOSAUR_SERVER: ${{ secrets.MAILOSAUR_SERVER }}
      MAILOSAUR_VERIFIED_DOMAIN: ${{ secrets.MAILOSAUR_VERIFIED_DOMAIN }}

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
      - name: Checkout custom actions
        uses: actions/checkout@v4
        with:
          repository: mailosaur/actions
          token: ${{ secrets.CUSTOM_ACTIONS_TOKEN }}
          path: .github/actions
      - name: Select Xcode version
        run: sudo xcode-select -s '/Applications/Xcode.app/Contents/Developer'
      - name: Build project
        run: swift build
      - name: Run tests
        run: swift test
      - name: Send notifications
        if: ${{ always() }}
        uses: ./.github/actions/notify
        with:
          webhook-url: ${{ secrets.NOTIFICATION_URL }}
