name: Publish

on:
  release:
    types: [created]

permissions:
  contents: read

jobs:
  publish:
    runs-on: ${{ vars.MACOS }}
    timeout-minutes: 10
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
      - name: Checkout custom actions
        uses: actions/checkout@v4
        with:
          repository: mailosaur/actions
          token: ${{ secrets.CUSTOM_ACTIONS_TOKEN }}
          path: .github/actions
      - name: Select Xcode version
        run: sudo xcode-select -s '/Applications/Xcode.app/Contents/Developer'
      - name: Version
        run: |
          version=`git describe --abbrev=0 --tags` &&	
          sed -iE "s|[0-9]\.[0-9]\.[0-9]|$version|" VERSION
          ./scripts/version.sh
      - name: Push to Cocoapods
        env:
          COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
        run: pod trunk push Mailosaur.podspec --allow-warnings --verbose
      - name: Send notifications
        if: ${{ always() }}
        uses: ./.github/actions/notify
        with:
          webhook-url: ${{ secrets.NOTIFICATION_URL }}
